app = 'karma-n8n'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 5678
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[mounts]
  source = 'n8n_data'
  destination = '/home/node/.n8n'

[[vm]]
  memory = '1024mb'
  cpu_kind = 'shared'
  cpus = 1
