# fly.toml app configuration file generated for karma-rent on 2026-02-06T21:50:09+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'karma-rent'
primary_region = 'sin'

[build]

[env]
  PORT = "3001"
  KARMA_DB_PATH = "/data/karma_rent.db"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[mounts]
  source = "karma_data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
